.paymentSuccess{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat';
    .wrapper{
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
}