.login{
    background: url('https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_960_720.jpg');
    min-height:  100vh;
    background-size: 100%;
    flex-direction: column;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{   display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            font-family: 'Josefin Sans';
            font-size: 80px;
            color: rgb(248, 242, 178);
            text-shadow: 3px 3px 3px #000;
        }
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
            color: white;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: bold;
            input{
                height: 30px;
                width: 200px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            color: white;
            font-family: 'Montserrat';
            font-size: 20px;
            font-weight: bold;
            input{
                height: 30px;
                width: 200px;
            }
        }
        .logBtnContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            .loginBtn{
                margin-top: 30px;
                background-color: teal;
                width: 208px;
                height: 36px;
                color: white;
                font-size: 'Montserrat';
                border: 1px solid white;
                cursor: pointer;
                transition: 0.3s ease-in;
                &:hover{
                    background-color: rgb(8, 70, 70);
                }
            }
            .loginError{
                color: red;
                font-family: 'Montserrat';
                font-weight: bold;
            }
        }
        
    }
}